/*  El archivo style.css se carga primero y tiene los contenidos obligatorios parta el THEME
*   Desde functions.php se llama el segundo archivo que es custom.css
*   En este archivo se crea custom.css
*/
@import "modulos/genesis-default.css";
@import "retina/variables.css";
@import "retina/tipografias.css";
@import "retina/home.css";
@import "retina/home_noticias_personajes.css";
@import "retina/pelicula.css";
@import "retina/catalogos.css";
@import "retina/personacine.css";
@import "retina/inicio.css";
@import "retina/logosfooter.css";
@import "retina/slider.css";
@import "retina/search.css";
@import "retina/filtros_peliculas.css";

.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
}

.menu_paises li.current_page_item a {
  color: black;
  text-transform: uppercase;
}

.testeretina {
  color: white !important;
  background-color: #333 !important;
}

@media screen and (max-width: 600px) {
  #ficha_premios,
  #ficha_locacion,
  #ficha_eventos {
    min-width: 100%;
    & table {
      font-size: 0.8em;
    }
  }
}

div.info_poster {
  background: rgb(231, 172, 231);
}

div.fichacolretina {
  /* background: yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span.ficha_fotografia {
  background-color: #86d3f7;
}
span.ficha_audio {
  background-color: #acebb2;
}

p.rl_inspirado::before {
  content: "Inspirado en: ";
}
/* VISTA SINGLE NOTICIAS*/
span.rl_fecha_entrada {
  color: red;
}

div.rl_imagendestacada_single {
  padding: 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important; /* Center the image */
  height: 350px;

  & .rl_header_entrada_sencilla {
    background: rgba(0, 0, 7, 0.3);
    width: 100%;
    height: 100%;
  }
  & h2 {
    color: white;
    font-size: 1.3em;
    position: relative;
    top: 70%;
    left: 3em;
  }
}
.relacionadas {
  background: red;
  display: none;
}
/* COMENTARIOS*/
.coment_retina {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 800px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.toggle {
  margin: 0 auto;
  max-width: 100%;
}

.toggle-label {
  font-size: 16px;
  background: #fff;
  padding: 1em;
  cursor: pointer;
  display: block;
  margin: 0 auto 1em;
  box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.35);
  border-radius: 4px;
}
.toggle-label:after {
  color: $azul;
  font-size: 2em;
  content: "\E316";
  float: right;
  padding-bottom: 120px !important;
  font-family: "Material Icons";
  position: relative;
  bottom: 0.5em;
}

.toggle-content {
  color: #b0b3c2;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 1.5em;
  padding: 1em;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .toggle-content {
  display: none;
}

.toggle-input:checked ~ .toggle-content {
  display: block;
}
.toggle-input:checked ~ .toggle-label:after {
  content: "\E313";
  font-family: "Material Icons";
}

label.titulo_comentarios {
  font-weight: bolder;
}

.site-inner {
  padding: 0.5em;
  background: white;
}
#genesis-content {
  padding: 0.5em;
}

img.rl_imagen_load {
  margin: 0 auto;
  display: block;
  padding: 2em;
}

div.rl_peliculas_total {
  font-size: 3em;
  color: $azul;
}

.personajesListado {
  background: $azul0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: white;

  & .personaje {
    width: auto;
    height: auto;

    text-align: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 5px 6px rgba(0, 0, 0, 0.11);
    padding-top: 12px;

    & p.nombre {
      height: 3em;
    }
    margin: 0.2em;
    & img {
      display: block;
      max-width: 80%;
      margin: 0 auto;
      border-radius: 0.5em;
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }
    }
    & p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  & div.personaje:hover {
    cursor: hand;
    cursor: pointer;
    opacity: 0.9;
  }
  @media all and (max-width: $mqmedium) {
    grid-template-columns: 1fr 1fr;

    /* display: none; */
  }
}

#filtrotaxonomias_formato {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* SEtiembre 03 ============================================ */
.site-header > .wrap {
  position: relative;
}

.menu-toggle {
  margin: 10px 30px 0 auto;
}

.header-search-wrap {
  display: none;
}

.js .header-search-wrap {
  position: absolute;
  z-index: 1001; /* Show above the menu toggle button */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.js .header-search-wrap .search-form,
.js .header-search-wrap input[type="search"] {
  height: 100%;
}

.search-visible .header-search-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header-search-wrap:target {
  display: block;
  clear: both;
  position: relative;
}

.header-search-wrap input[type="search"] {
  padding: 0;
  border: 0;
}

.header-search-wrap input[type="submit"]:focus {
  right: 50px;
  margin-top: 1px;
  padding: 20px;
  border-radius: 3px;
}

.js .toggle-header-search.close:focus {
  outline: 0;
}

.toggle-header-search.close {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  padding: 0;
  color: #000;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: translate3d(-6px, 0, 0);
  transform: translate3d(-6px, 0, 0);
}

.header-search-wrap:target .toggle-header-search.close {
  -webkit-transform: none;
  transform: none;
}

.toggle-header-search .ionicons {
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.toggle-header-search.close .ionicons {
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  -webkit-transform: scale(3);
  transform: scale(3);
}

.toggle-header-search {
  position: absolute;
  right: 5px;
  top: 20px;
}

/* Header Search
--------------------------------------------- */

.site-header > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.title-area,
.nav-primary {
  float: none;
}

.nav-primary {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.toggle-header-search {
  position: static;
  display: block;
  padding: 12px 15px;
  line-height: 1;
  margin-left: 20px;
}
