.rl_home {
  background-color: red;
  display: grid;
  grid-template-rows: auto auto auto auto;

  & .destacados {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: var(--gap-columnas);

    & .video {
      @media all and (max-width: $mqmedium) {
        height: auto;
      }
    }

    & .ciclo {
    }

    @media all and (max-width: $mqmedium) {
      padding: 0 1em;
      grid-template-columns: 1fr;
      /* display: none; */
    }
  }

  & .peliculas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    /* background: yellow; */

    @media all and (max-width: $mqlarge) {
      padding: 0 1em;
      grid-template-columns: repeat(4, 1fr);
      /* background: lime; */
    }
    @media all and (max-width: $mqmedium) {
      padding: 0 1em;
      grid-template-columns: repeat(3, 1fr);
      /* background: purple; */
    }

    @media all and (max-width: $mqsmall) {
      padding: 0 1em;
      grid-template-columns: repeat(2, 1fr);
      /* background: red; */
    }
  }

  & .secundarias {
    /*background: crimson;*/
    margin-top: 1em;
    border-top: 2px crimson solid;
  }

  & .sec_4 {
    grid-template-columns: repeat(4, 1fr);

    @media all and (max-width: $mqmedium) {
      padding: 0 1em;
      grid-template-columns: repeat(3, 1fr);
      /* background: purple; */
    }

    @media all and (max-width: $mqsmall) {
      padding: 0 1em;
      grid-template-columns: repeat(2, 1fr);
      /* background: red; */
    }

    & .secundarias_titulo {
      grid-column: 1/5;

      @media all and (max-width: $mqmedium) {
        grid-column: 1/4;
      }
      @media all and (max-width: $mqsmall) {
        grid-column: 1/3;
      }

      & h4 {
        padding: 1em 0 0 1em;
        text-align: center;
      }

      & @media only screen and (max-width: 768px) {
        grid-column: 1/4;
      }

      & @media only screen and (max-width: 640px) {
        grid-column: 1/3;
      }
    }
  }

  & .sec_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media all and (max-width: $mqlarge) {
      padding: 0 1em;
      grid-template-columns: repeat(4, 1fr);
      /* background: lime; */
    }
    @media all and (max-width: $mqmedium) {
      padding: 0 1em;
      grid-template-columns: repeat(3, 1fr);
      /* background: purple; */
    }

    @media all and (max-width: $mqsmall) {
      padding: 0 1em;
      grid-template-columns: repeat(2, 1fr);
      /* background: red; */
    }

    & .secundarias_titulo {
      grid-column: 1/6;

      @media all and (max-width: $mqlarge) {
        grid-column: 1/5;
      }
      @media all and (max-width: $mqmedium) {
        grid-column: 1/4;
      }
      @media all and (max-width: $mqsmall) {
        grid-column: 1/3;
      }

      & h4 {
        padding: 1em 0 0 1em;
        text-align: center;
      }

      & @media only screen and (max-width: 768px) {
        grid-column: 1/4;
      }

      & @media only screen and (max-width: 640px) {
        grid-column: 1/3;
      }
    }
  }

  & .sec_6 {
    /* background: hotpink; */
    @media all and (max-width: $mqlarge) {
      padding: 0 1em;
      grid-template-columns: repeat(4, 1fr);
      /* background: lime; */
    }
    @media all and (max-width: $mqmedium) {
      padding: 0 1em;
      grid-template-columns: repeat(3, 1fr);
      /* background: purple; */
    }

    @media all and (max-width: $mqsmall) {
      padding: 0 1em;
      grid-template-columns: repeat(2, 1fr);
      /* background: red; */
    }

    & .secundarias_titulo {
      grid-column: 1/7;

      @media all and (max-width: $mqlarge) {
        grid-column: 1/5;
      }
      @media all and (max-width: $mqmedium) {
        grid-column: 1/4;
      }
      @media all and (max-width: $mqsmall) {
        grid-column: 1/3;
      }

      & h4 {
        padding: 1em 0 0 1em;
        text-align: center;
      }

      & @media only screen and (max-width: 768px) {
        grid-column: 1/4;
      }

      & @media only screen and (max-width: 640px) {
        grid-column: 1/3;
      }
    }
  }

  & .aliados {
    /*border-bottom: 10px rgb(1, 160, 118) solid;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 15px;
    padding: 0.4em;
    height: auto;

    & h4 {
      margin: 0;
      padding: 0;
      grid-column: 1 / 4;
    }

    & .alianza1 {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    & .alianza2 {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    & .alianza3 {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    & .alianza1 img,
    .alianza2 img,
    .alianza3 img {
      width: 100%;
      display: block;
    }

    & .alianza1 img a,
    .alianza2 img a,
    .alianza3 img a {
      margin: 0;
      padding: 0;
    }

    & .alianza1 p,
    .alianza2 p,
    .alianza3 p {
      padding: 0 1em;
      color: gray;
      text-align: center;
      font-size: 1.2em;
      height: 65px;

      a {
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
    }

    & @media only screen and (max-width: 768px) {
      background-color: purple;
      padding: 0 1em;
      grid-template-columns: 1fr;

      & h4 {
        margin: 0 0 0 0;
        padding: 0;
        grid-column: 1 / 2;
      }
    }
  }

  .datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

    & .noticias {
      /*background-color: peru;*/
    }

    & .personajes {
      /*background-color: firebrick;*/
    }
  }
}

/*PAISES.PHP*/
.paises {
  /*background: red;*/
  display: grid;
  grid-template-columns: 200px 1fr;

  & @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  & .menu {
    background-color: lime;
    grid-column: 1 / 2;
  }
}

.filtros {
  grid-column: 2 / 3;
  background: white;
  border: 12px palegoldenrod solid;
}

.header_peliculas {
  grid-column: 1 / 3;
  /*background: purple;*/
  height: 50px;
}

.peliculas_paises {
  grid-column: 2 / 3;
  border-bottom: 10px rgb(1, 160, 118) solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;

  & @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  & @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*MINIATURA INDIVIDUAL POSTER*/
article.mini_film {
  margin: 0;
  padding: 0;

  & img {
    /*filter: grayscale(100%);*/
    /*border-top-left-radius: 1em;*/
    min-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  & h6 {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
    /*background: purple;*/
  }

  & h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
    text-align: center;
    /*background: lime;*/
  }
}

article.mini_film {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image:hover {
  cursor: pointer;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

article.mini_film:hover .image {
  opacity: 0.3;
}

article.mini_film:hover .middle {
  opacity: 1;
}

.text {
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.container {
  width: auto;
  height: auto;
  background: white;
  margin: 10px auto;
  text-align: center;
  padding: 0 12px 12px 12px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 5px 6px rgba(0, 0, 0, 0.11);
  padding-top: 12px;

  & a {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--col_azul_retina);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: white;
    & h4 {
      color: white;
    }
  }

  &:hover > a .navigation .pais,
  &:hover > a .navigation .formato {
    color: blue;
  }

  &:hover > a .picture .duracion {
    background-color: purple;
    color: white;
  }

  & .picture {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    transition: all 0.5s ease;
    animation: pictureDown 0.7s;
    animation-fill-mode: forwards;
  }

  & .picture_up {
    animation: pictureUp 0.7s;
    animation-fill-mode: forwards;
  }

  & .navigation {
    width: 100%;
    height: 66px;
    position: relative;
    bottom: 0;
    color: #4e347f;
    text-align: left;
    font-size: 16px;

    & h4 {
      font-size: 0.8em;
      text-align: center;
    }
  }
}

span.formato {
  position: absolute;
  bottom: -10px;
  right: -0px;
  z-index: 1;
  width: auto;
  height: 28px;
  padding: 0.3em;
  color: gray;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  box-sizing: border-box;
}

span.pais {
  position: absolute;
  bottom: -10px;
  left: -0px;
  z-index: 1;
  width: 100%;
  height: 28px;
  padding: 0.3em;
  color: gray;
  font-weight: 700;
  font-size: 0.8em;
  text-align: left;
  box-sizing: border-box;
  text-transform: uppercase;
}

span.duracion {
  position: absolute;
  top: -20px;
  right: -10px;
  z-index: 1;
  background: white;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  border-radius: 10%;
  color: gray;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}

span.duracion:before {
  font-family: "Material Icons";
  content: "\e192";
}

@keyframes activation {
  0% {
    width: 2px;
    height: 34px;
    top: 50%;
  }

  50% {
    width: 2px;
    height: 55px;
    top: -38px;
  }

  100% {
    width: 300px;
    height: 55px;
    top: -38px;
  }
}

@keyframes deactivation {
  0% {
    width: 300px;
    height: 55px;
    top: -38px;
  }

  50% {
    width: 2px;
    height: 55px;
    top: -38px;
  }

  100% {
    width: 2px;
    height: 24px;
    top: 50%;
  }
}

@keyframes pictureUp {
  0% {
    top: 0;
  }

  50% {
    top: -65px;
  }

  100% {
    top: -65px;
  }
}

@keyframes pictureDown {
  0% {
    top: -65px;
  }

  50% {
    top: -65px;
  }

  100% {
    top: 0;
  }
}

@keyframes optionsDisplay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes navShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes navHide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.picture img {
  border-radius: 0.2em;
}

/* MATERIAL DESIGN ICONS*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px !important;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.super-icon {
  padding: 0 0 10px 0;
}

/* Flecha en menú */
.genesis-nav-menu .menu-item-has-children > a:after {
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-size: 12px;
  font-size: 1.2 rem;
  padding-left: 10px;
  padding-left: 1rem;
  vertical-align: bottom;
}

/***************/

/* ESTRUCTURA OPCIONES*/
.controles {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
}

.peliculas {
}

.site-header {
  background-image: url("/wp-content/uploads/2019/02/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
