:root {
  /*COLORES*/
  /*--col_rojo_retina: hsl(337, 79%, 55%);*/
  /*--ROJO-retina: hwb(337, 19%, 9%, 1);*/
  --col_azul_retina: hsl(198, 84%, 65%);
  --colordestacado: #fff;
  --limon: lime;

  /*TAMAÑOS*/
  --gap-columnas: 1em;

  /*  --letraespecial: 'Days One', sans-serif;
  --letrabase: 'Roboto', sans-serif;
  --letratitulos: 'Open Sans', sans-serif;
  --letranumeros: 'Wallpoet', cursive;
*/
}
/*Variables tipo SASS*/
$letraespecial: "Days One", sans-serif;
$letranumeros: "Wallpoet", cursive;
$letrabase: "Roboto", sans-serif;
$col1: hwb(337, 19%, 9%, 1);
$col3: color($col1 saturation(0%));

$negroretina: #2e2e2e;
$rojo: #e83278;
$azul: #5bc5f2;
$destacado: rgb(219, 233, 168);

/* COLORES ADICIONALES EN EL MANUAL DE IMAGEN*/
$morado1: #783683;
$morado2: #433583;
$morado3: #72639f;

/* FIN COLORES ADICIONALES*/

$rojo1: color($col1 saturation(0%));
$rojo2: blue;
$rojo3: color($col1 saturation(0%));
$rojo4: color($col1 saturation(0%));
$rojo5: color($col1 tint(20%));
$azul0: hsl(198, 84%, 65%);
$azul1: color($azul0 tint(80%));
$azuloscuro: #094965;
$mqextralarge: 1904px;
$mqlarge: 1264px;
$mqmedium: 960px;
$mqsmall: 600px;
